<footer>
    <section class="footer-first-shortcut-links">

        <div>
            <p>Conocenos</p>

            <div class="links">
                <a href="#">Trabajar en Mamazon</a>
                <a href="#">Informacion Corporativa</a>
                <a href="#">About Mamazon</a>
                <a href="#">Investor Relations</a>
                <a href="#">Mamazon Devices</a>
                <a href="#">Mamazon Science</a>
            </div>
        </div>

        <div>
            <p>Make Money with Us</p>

            <div class="links">
                <a href="#">Sell products on Mamazon</a>
                <a href="#">Sell on Mamazon Business</a>
                <a href="#">Sell apps on Mamazon</a>
                <a href="#">Become an Affiliate</a>
                <a href="#">Advertise Your Products</a>
                <a href="#">Self-Publish with Us</a>
                <a href="#">Host an Mamazon Hub</a>
                <a href="#"><i class="fa-solid fa-caret-right"></i>See More Make Money <br> with Us</a>
            </div>
        </div>

        <div>
            <p>Mamazon Payment Products</p>

            <div class="links">
                <a href="#">Mamazon Business Card</a>
                <a href="#">Shop with Points</a>
                <a href="#">About Amazon</a>
                <a href="#">Reload Your Balance</a>
                <a href="#">Mamazon Currency Converter</a>
            </div>
        </div>
        <div>
            <p>Let Us Help You</p>

            <div class="links">
                <a href="#">Mamazon and COVID-<br>19</a>
                <a href="#">Your Account</a>
                <a href="#">Your Orders</a>
                <a href="#">Shipping Rates & <br>Policies</a>
                <a href="#">Returns & <br>Replacements</a>
                <a href="#">Manage Your <br> Content and Devices</a>
                <a href="#">Mamazon Assistant</a>
                <a href="#">Help</a>
            </div>
        </div>
    </section>

    <section class="copyright-section">
        <div class="important-links">
            <a href="#">Condiciones de uso</a>
            <a href="#">Aviso de privacidad</a>
        </div>
        <p class="copyright">
            &copy; © 1996-2024, Mamazon.com, Inc. o sus afiliados
        </p>
    </section>
</footer>