<div class="prime-holder">
    <div class="prime-add">
    </div>
    <div class="prime-gradient">
    </div>
    <div class="prime-end"></div>
</div>
    <div class="shopping-category">
        <div class="row">
            <app-white-box
            [item]="GPUItems"
            [boxTitle]="'Tarjetas Graficas'"
            [seeMoreText]="'Ver Mas'"
            [isItem]="false"
            [textLink]="'GPU'"

            />   
            <app-white-box
            [item]="LastLeft"
            [boxTitle]="'Sigue comprando donde te quedaste'"
            [seeMoreText]="'Ver Mas'"
            [textLink]="'Case'"

            /> 
            <app-white-box
            [NumberOfPanels]="1"
            [item]="ads"
            [boxTitle]="'Completa una misión a la vez y gana'"
            [seeMoreText]="'Ver Mas'"
            /> 
            <app-white-box
            [item]="categories"
            [boxTitle]="'Categorias por explorar'"
            [seeMoreText]="''"
            [isItem]="false"


            /> 
        </div>
        <div class="longbar">
            <div class="title">
                <h2>Descubre nuestros métodos de pago</h2>
                <a href="">Ver mas</a>
            </div>
            <div class="payment-grid">
                <img src="https://images-na.ssl-images-amazon.com/images/G/33/img22/Payment_Methods/MX_ingress_update/MXPayment_Bubbler_CreditoyDebito_200x200._CB626590643_.jpg" alt="">
                <img src="https://images-na.ssl-images-amazon.com/images/G/33/img22/Payment_Methods/MX_ingress_update/MXPayment_Bubbler_Efectivo_200x200._CB626590642_.jpg" alt="">
                <img src="https://images-na.ssl-images-amazon.com/images/G/33/img22/Payment_Methods/MX_ingress_update/MXPayment_Bubbler_Meses_200x200._CB613323059_.jpg" alt="">
                <img src="https://images-na.ssl-images-amazon.com/images/G/33/img22/Payment_Methods/MX_ingress_update/MXPayment_Bubbler_ValesDesp_200x200._CB626590643_.jpg" alt="">
                <img src="https://images-na.ssl-images-amazon.com/images/G/33/img22/Payment_Methods/MX_ingress_update/MXPayment_Bubbler_GiftCard_200x200._CB626590643_.jpg" alt="">
                <img src="https://images-na.ssl-images-amazon.com/images/G/33/img22/Payment_Methods/MX_ingress_update/MXPayment_Bubbler_GiftCard_Digital_200x200._CB626590643_.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <app-white-box
            [NumberOfPanels]="1"
            [item]="adsss"
            [boxTitle]="'Aguas Siniestras'"
            [seeMoreText]="'Renta en Prime Video'"
            />   
            <app-white-box
            [item]="monitors"
            [boxTitle]="'Monitores'"
            [seeMoreText]="'Ver Mas'"
            [textLink]="'Monitor'"

            /> 
            <app-white-box
            [NumberOfPanels]="1"
            [item]="ssds"
            [boxTitle]="'Ahorra en discos duros Segate, Kingston y mas'"
            [seeMoreText]="'Ver Mas'"
            [isItem]="false"
            [textLink]="'SSD'"

            /> 
            <app-white-box
            [NumberOfPanels]="1"
            [item]="adss"
            [boxTitle]="'Misión Imposible: Sentencia Mortal'"
            [seeMoreText]="'Suscríbete Paramount+ en Prime Video'"
            /> 
        </div>
    </div>
<div class="rest-container"></div>
