<div class="actualroot">
    <div class="root">
        <h1 style="font-size: 28px;">Te damos la bienvenida al Servicio al Cliente Mamazon</h1>
        <p>
            ¿Con qué te gustaría recibir ayuda hoy? Puedes encargarte rápidamente de la mayoría de las cosas aquí, o conectarte con nosotros cuando sea necesario.
        </p>
        <br>
        <p>
            Puedes contactarnos en Servicio&#64;Mamazon.com.mx o all llamar 9993675370
        </p>
        <div class="grid">
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_order_v2._CB432205751_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Entrega, pedido o devolucion
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src=" https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_device_v2._CB432205751_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Kindle, Fire, Alexa u otros dispositivos de Mamazon
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_dcontent_v3._CB428304563_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        eBooks, Prime video, Musica, Games
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_prime_v2._CB432205750_.pngqQQQQQQQQQ" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Prime
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_paymentgc_v2._CB432205751_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Pagos, cargos o tarjetas de regalo
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src=" https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_login_security_v2._CB432205751_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Direccion, seguridad y privacidad
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_account_v2._CB432205751_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Membresias, suscripciones o comunicaciones
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/fshub_somethingelse_v3._CB428112012_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Otros
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/Login_Icon_2._CB618207853_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Inicio de sesion y contraseña
                    </p>
                </div>
            </div>
            <div class="item" routerLink="/404">
                <div class="img">
                    <img src="https://m.media-amazon.com/images/G/01/x-locale/cs/help/images/gateway/self-service/fshub/suspicious-emails._CB649253146_.png" alt="">
                </div>
                <div class="desc">
                    <p class="descac">
                        Correspondencia sospechosa (phishing)
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
