* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
  }


  @font-face {
    font-family: 'Amazon mber';
    src: url('fonts/AmazonEmber_Lt.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
  }